:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #f0f1f3;
    --secundario: #192b91;
    --gris: #757575;
    --grisClaro: #71ade9;
}
body {
    background-image: url('/static/home/img/qe.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    margin:0; 
    padding: 0; 
    height: 110vh;
    
}

h1 {
    text-align: center;
    color: var(--blanco);
    margin-top: 0px;
    background-color: var(--secundario); 
    padding: 15px 0;
}

h2{
    text-align: center;
}
.form{
    background-color: var(--gris);
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
}

form input {
    width: 100px; 
    height: 60px; 
    padding: 5px; 
    margin: 5px 0; 
    box-sizing: border-box; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}


form input {
    font-size: 14px; 
}


form button {
    width: 100%; 
    padding: 10px; 
    background-color: #007BFF; 
    color: white; 
    border: 2px solid black; 
    border-radius: 5px; 
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3; 
}


form button {
    width: 100%; 
    padding: 10px; 
    background-color: #007BFF; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

form button:hover {
    background-color: #0056b3; 
}

.form fieldset{
    border: none;
}

.form legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--primario);
    font-weight: bold;
    margin-bottom: 2rem;
}


@media (min-width: 768px){
    .field-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        }
        .au-height{
            height:90%;
        }
        .field{
        margin-bottom: 1rem;
        margin-right: 5rem;
        }
        .enviar .boton{
            width: 100%;
        }
        @media (min-width: 768px){
             .enviar{
                display: flex;
                justify-content: flex-end;
             }
             .enviar .boton{
                width: auto;
            }
        }
    }
        
        .field label{
        color: var(--blanco);
        font-weight: bold;
        margin-bottom: .5rem;
        display: block;
        }
        .input-text{
            width: 100%;
            border: none;
            padding: 1.5rem;
            border-radius: .5rem;
        }

        .boton{
            background-color: var(--secundario);
            color: var(--blanco);
            text-decoration: none;
            padding: 1rem 3rem;
            margin-top: 1rem;
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: bold;
            width: 65%;
            border-radius: .5rem;
            text-align: center;
            border: none;
        }
        

        .navbar {
            position: absolute;
            top: 10px;
            width: 100%;
            display: flex;
            justify-content: center;
            background: rgba(0, 128, 128, 0.8); 
            padding: 10px 0;
            border-radius: 5px;
        }
        
        .navbar a {
            margin: 0 15px;
            color: white;
            text-decoration: none;
            font-weight: bold;
            padding: 10px 15px;
            transition: background 0.3s ease, color 0.3s ease; 
            }
        
        .navbar a:hover {
            background: rgb(243, 157, 157); 
            color: teal; 
            border-radius: 5px; 
        }

    
        .nav-down a {
            text-decoration: none;
            margin: 0 12px; 
            padding: 10px 20px; 
            border-radius: 5px;
            font-size: 18px; 
            color: var(--primario); 
            font-weight: bold;
            background-color: var(--secundario);
        }
        

        .nav-column{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
        

        .nav-down a, .nav-column a{
            margin: 20px; 
            padding: 10px 20px; 
            transition: all 0.3s ease; 
            text-decoration: none;
            margin: 50px;
            padding: 15px;
            border-radius: 5px;
            font-size: 24   px;
            color: var(--primario);
            font-weight: bolder;
            background-color: var(--secundario);
        }

        .sombra {
            box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
            background-color: var(--blanco);
            padding: 2rem;
            border-radius: 1rem;
        }
        

        .contenedor-principal {
            width: 80%;
            margin: 10px auto;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.8); 
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
            }
            
        th{
            color: var(--secundario)
        }
        
        th, td{
            padding: 10px; 
            border-color: var(--negro);
            border-width: 3px;
            border-style: solid;
            background-color: var(--blanco);
        }